*,
*:before,
*:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  font-family:'Montserrat', sans-serif;
  font-weight: 600;
}

body {
    background-color: rgb(199, 135, 16);
    height: 100vh;
}

.container{
    background-color: cornsilk;
    border-radius: 5px;
    width: 80%;
    min-width: 360px;
    padding: 15px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
 
h1 {
    font-size: 25px;
    color: rgb(148, 73, 20);
    text-align: center;
}

p {
    width: 100%;
    color: rgb(146, 130, 49);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    margin: auto;
}

form {
    width: 100%;
    position: relative;
    margin: 15px auto 0px auto;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 15px 15px;
    margin-bottom: 15px;
}

label {
    color: rgb(148, 73, 20);
    font-size: 15px;
}